Source: ngcp-api-tools
Section: admin
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 9~)
Standards-Version: 3.9.7
Homepage: https://www.sipwise.com/

Package: ngcp-api-tools
Architecture: all
Depends: ngcp-panel,
         perl,
         ${misc:Depends}
Provides: ngcp-api-tools
Conflicts: ngcp-ossbss,
           ngcp-www-admin (<= 2)
Replaces: ngcp-ossbss
Description: NGCP REST API related tools
 This package contains files needed by all interface modules on
 NGCP management hosts.

Package: ngcp-billing-tools
Architecture: all
Depends: perl,
         ${misc:Depends}
Provides: ngcp-api-tools
Conflicts: ngcp-ossbss,
           ngcp-ossbss-billing (<< 3.19),
           ngcp-www-admin (<= 2)
Replaces: ngcp-ossbss
Breaks: ngcp-ossbss-billing (<< 3.19)
Description: NGCP Billing related tools
 This package contains files needed by all interface modules on
 NGCP management hosts.

Package: ngcp-provisioning-tools
Architecture: all
Depends: perl,
         ${misc:Depends}
Provides: ngcp-api-tools
Conflicts: ngcp-ossbss,
           ngcp-ossbss-clients-perl (<< 3.19),
           ngcp-www-admin (<= 2)
Breaks: ngcp-ossbss-clients-perl (<< 3.19)
Replaces: ngcp-ossbss
Description: NGCP Provisioning related tools
 This package contains files needed by all interface modules on
 NGCP management hosts.
